<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>后盾网武斌博客网后台管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="__PUBLIC__/static/admin/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/static/admin/css/site.css" rel="stylesheet">
    <link href="__PUBLIC__/static/admin/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="__PUBLIC__/static/admin/js/jquery.min.js"></script>
    <script src="__PUBLIC__/static/admin/bootstrap-3.3.0-dist/dist/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/static/admin/resource/hdjs/app/util.js"></script>
    <script src="__PUBLIC__/static/admin/resource/hdjs/require.js"></script>
    <script src="__PUBLIC__/static/admin/resource/hdjs/app/config.js"></script>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        if (navigator.appName == 'Microsoft Internet Explorer') {
            if (navigator.userAgent.indexOf("MSIE 5.0") > 0 || navigator.userAgent.indexOf("MSIE 6.0") > 0 || navigator.userAgent.indexOf("MSIE 7.0") > 0) {
                alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
            }
        }
    </script>
    <style>
        i {
            color: #337ab7;
        }
    </style>
</head>
<body>

{include file="Public/top"}
<!--主体-->
<div class="container-fluid admin_menu">
    <div class="row">
        {include file="Public/left"}
        <!--右侧主体区域部分 start-->

        <div class="col-xs-12 col-sm-9 col-lg-10">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th class="active" colspan="10">温馨提示</th>
                </tr>
                <tr>
                    <td colspan="10">
                        后盾网官网：<a href="http://www.houdunwang.com" target="_blank">www.houdunwang.com</a>
                        后盾网论坛：<a href="http://bbs.houdunwang.com" target="_blank">bbs.houdunwang.com</a>
                    </td>
                </tr>
                <tr>
                    <th class="active" colspan="10">系统信息</th>
                </tr>
                <tr>
                    <td>核心框架</td>
                    <td colspan="5">Thinkphp</td>
                </tr>
                <tr>
                    <td>版本号</td>
                    <td colspan="5">5.0</td>
                </tr>
                <tr>
                    <td>开发者</td>
                    <td colspan="5">毛球</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--右侧主体区域部分结束 end-->
</div>
</div>
<div class="master-footer" style="margin-top: 150px">
    <a href="http://www.houdunwang.com">高端培训</a>
    <a href="http://www.hdphp.com">开源框架</a>
    <a href="http://bbs.houdunwang.com">后盾论坛</a>
    <br>
    Powered by hdphp v2.0 © 2016-2022 www.hdphp.com
</div>
</body>
</html>