<div class="col-xs-12 col-sm-3 col-lg-2 left-menu">
    <div class="panel panel-default" id="menus">
        <!--学员管理菜单-->
        <div class="panel-heading" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="border-top: 1px solid #ddd;border-radius: 0%">
            <h4 class="panel-title">学员管理菜单</h4>
            <a class="panel-collapse" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                <i class="fa fa-chevron-circle-down"></i>
            </a>
        </div>
        <ul class="list-group menus collapse in" id="collapseExample">
            <a href="" class="list-group-item">
                <i class="fa fa-male" aria-hidden="true"></i>
                <span class="pull-right" href=""></span>
                学员管理
            </a>
        </ul>
        <!--学员管理菜单 end-->

        <!--文章管理菜单-->
        <div class="panel-heading" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            <h4 class="panel-title">文章管理菜单</h4>
            <a class="panel-collapse" data-toggle="collapse" href="#collapseExample2" aria-expanded="true">
                <i class="fa fa-chevron-circle-down"></i>
            </a>
        </div>
        <ul class="list-group menus collapse in" id="collapseExample2">
            <a href="{:url('article/lst')}" class="list-group-item">
                <i class="fa fa-list-ol" aria-hidden="true"></i> 文章管理
            </a>
            <a href="{:url('article/add')}" class="list-group-item">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <span class="pull-right" href=""></span>
                添加文章
            </a>
        </ul>
        <!--文章管理菜单 end-->

        <!--栏目管理菜单-->
        <div class="panel-heading" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
            <h4 class="panel-title">栏目管理菜单</h4>
            <a class="panel-collapse" data-toggle="collapse" href="#collapseExample2" aria-expanded="true">
                <i class="fa fa-chevron-circle-down"></i>
            </a>
        </div>
        <ul class="list-group menus collapse in" id="collapseExample2">
            <a href="{:url('cate/lst')}" class="list-group-item">
                <i class="fa fa-list-ol" aria-hidden="true"></i> 栏目管理
            </a>
            <a href="{:url('cate/add')}" class="list-group-item">
            <i class="fa fa-list-ul" aria-hidden="true"></i>
            <span class="pull-right" href=""></span>
            添加栏目
            </a>
        </ul>
        <!--栏目管理菜单 end-->

        <!--网站配置管理菜单-->
        <div class="panel-heading" role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
            <h4 class="panel-title">友情链接</h4>
            <a class="panel-collapse" data-toggle="collapse" href="#collapseExample3" aria-expanded="true">
                <i class="fa fa-chevron-circle-down"></i>
            </a>
        </div>
        <ul class="list-group menus collapse in" id="collapseExample3">
            <a href="{:url('link/lst')}" class="list-group-item">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <span class="pull-right" href=""></span>
                友情链接
            </a>
        </ul>
        <!--网站配置管理菜单 end-->
    </div>
</div>